# ignore all configs by default
.minecraft/config/*

# re-include necessary configs
!additional-additions-config.json
!charm.toml
!creeperoverhaul.json
!crowdin.txt
!immersive_weathering.json5
!leaves_us_in_peace.json
!minecarttweaks.json5
!repurposed_structures.json
!YungsExtras/
!yungsextras-fabric-1_19.toml

# not working???
!PlasmoVoice/server.yml

# multimc
natives/
instance.cfg
mmc-pack.json

# automatic
.fabric/
coremods/
data/
logs/
crash-reports/
irisUpdateInfo.json
realms_persistence.json
usercache.json

brb.pins
cherishedworlds-favorites.dat
leaves-us-in-peace.timestamp

# xaero
XaeroWorldMap/
XaeroWaypoints*/

# up to the user
resourcepacks/
saves/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/
options.txt
